<h2>Recently Added</h2>
<div class="form-row">
  <% books.forEach(book => { %>
  <a href="/books/<%= book.id %>">
    <img height="150" width="150" src="<%= book.coverImagePath %>" />
  </a>
  <% }) %>
</div>
